body{
    margin: 0;
    padding: 0;
}
#__xmlview1--hl1 {
    position: relative;
    height:  100%;
    width:  100%;
}
#__xmlview1--hl1 .sapUiHLayoutChildWrapper:first-child {
    position: absolute;
    top: 30%;
    left: 2%;
    width: 47%;
}
#__xmlview1--hl1 .sapUiHLayoutChildWrapper:last-child {
    position: absolute;
    top: 30%;
    right: 2%;
    width: 47%;
}
.toolbar {
    height: 100px;
    position: absolute;
    top: calc(30% - 100px);
    left: 0;
}
.toolbar .sapMPanelContent {
    height: 100px;
}
.toolbar .sapMSlt:first-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    margin: auto 0;
}
.toolbar .sapMSlt:last-child {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    margin: auto 0;
}